body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 40px;
}

h1 {
  color: #333;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
#data1,
#data2,
#data3,
#data4,
#data5 {
  display: block;
}
